.linha-verde {
    background-color: #e0f7e0; /* Fundo verde claro */
    color: #006400; /* Texto verde escuro */
}


.linha-azul {
    background-color: #e0e0f7; /* Fundo vermelho claro */
    color: blue; /* Texto vermelho escuro */
}

.linha-vermelha {
    background-color: #f7e0e0; /* Fundo vermelho claro */
    color: #8b0000; /* Texto vermelho escuro */
}

.linha-amarelo {
    background-color: lightyellow; /* Fundo vermelho claro */
    color: orange; /* Texto vermelho escuro */
}
