<div class="grid p-fluid">
    <div class="col-12 md:col-12">
        <div class="card">
            <div class="field">
                <div class="col-12 md:col-12">
                    <p-selectButton
                        [options]="listarBancos"
                        [(ngModel)]="bancoSelecionado.id"
                        optionLabel="dsBanco"
                        optionValue="id"
                        (onOptionClick)="onSelecionadoBanco()"
                    >
                    </p-selectButton>
                </div>
            </div>

            <div class="field">
                <div class="col-12 md:col-12">
                    <p-selectButton
                    [options]="listarContas"
                    [(ngModel)]="contaSelecionado.id"
                    (onOptionClick)="onSelecionadoConta()"
                    optionLabel="conta.dsConta"
                    optionValue="conta.id">
                </p-selectButton>
                </div>
            </div>
        </div>
    </div>
</div>

    
    
    
    
    