<div class="grid p-fluid">
    <div class="col-12 md:col-12">
        <div class="card">
            <div class="field col-1">
                <label for="pos">pos</label>
                
                
            </div>

            <h5>Ano / Mes</h5>
            <div class="field">
                <div class="col-3 md:col-3">
                <p-inputGroup>
                    
                    <input  pInputText type="text"
                     placeholder="ano"
                    [(ngModel)]="dataSelecionada.nrAno" onblur="onSelecionadoMesAno()"/>
                    
                </p-inputGroup>
            </div>
            </div>
            <div class="field">
                <div class="col-12 md:col-12">
                    <p-selectButton
                    [options]="listarMeses"
                    [(ngModel)]="dataSelecionada.nrMes"
                    (onOptionClick)="onSelecionadoMesAno()" >
                </p-selectButton>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    
    
    
    
    