 

<div class="card px-6 py-6">
   
 
<div class="grid">



<div class="col-12 lg:col-6 xl:col-3">

   
    
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Saldo Inicial</span>
                <div class="text-900 font-medium text-xl">{{movimentacaoFinal?.vlSaldoInicial | moeda}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-blue-100 border-round">
                <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">{{movimentacaoRegistro == null ? 0.0 : movimentacaoRegistro[0]}} </span>
        <span class="text-500">movimentação (ões) anteriores</span>
    </div>
</div>
<div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Total Credito</span>
                <div class="text-900 font-medium text-xl">{{movimentacaoFinal?.vlTotalCredito | moeda}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-orange-100 border-round">
                <i class="pi pi-map-marker text-orange-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">{{movimentacaoRegistro == null ? 0.0 : movimentacaoRegistro[1]}} </span>
        <span class="text-500">movimentações</span>
    </div>
</div>
<div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Total Debito</span>
                <div class="text-900 font-medium text-xl">{{movimentacaoFinal == null ? 0.0 : movimentacaoFinal?.vlTotalDebito | moeda}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-cyan-100 border-round">
                <i class="pi pi-inbox text-cyan-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium">{{movimentacaoRegistro == null ? 0.0 : movimentacaoRegistro[2]}} </span>
        <span class="text-500">movimentações</span>
    </div>
</div>
<div class="col-12 lg:col-6 xl:col-3">
    
    <div class="card mb-0">
        <div class="flex justify-content-between mb-3">
            <div>
                <span class="block text-500 font-medium mb-3">Saldo final</span>
                <div class="text-900 font-medium text-xl">{{movimentacaoFinal == null ? 0.0 : movimentacaoFinal?.vlSaldoFinal| moeda}}</div>
            </div>
            <div class="flex align-items-center justify-content-center bg-purple-100 border-round" >
                <i class="pi pi-comment text-purple-500 text-xl"></i>
            </div>
        </div>
        <span class="text-green-500 font-medium"> {{movimentacaoRegistro == null ? 0.0 : movimentacaoRegistro[3] | moeda}} </span>
        <span class="text-500">movimentações</span>
    </div>
</div>
</div>

<p-button 
type="button" 
pRipple 
(onClick)="onAvancar(-1)" 
label="<<" 
styleClass="mr-2" 
/>

<p-button 
type="button" 
pRipple 
(onClick)="onFecharMes()" 
label="Fechar" 
styleClass="mr-2" 
/>


<p-button 
type="button" 
pRipple 
(onClick)="onAvancar(+1)" 
label=">>" 
styleClass="mr-2" 
/>

</div>

<p-messages [(value)]="aviso" [enableService]="false" />